/* 
   TODO -- Replace Left Link selector with Bars at the top starting at 1000px
   TODO -- Replace the About Blogs and Contacts in Bars icon at top too starting at 400px.
*/

body {
    overflow-x: hidden;
    background-color: #06063b !important;
    opacity: 0.9;
    background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #06063b 60px ), repeating-linear-gradient( #141cb655, #141cb6 );
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;

}

.home {
    height: 100vh;
}

/* .wd-dark-filter { 
    filter: grayscale(100%) invert(92%) contrast(83%);
} */

.wd-nav-padding {
    padding-top: 4.57rem;
}

.wd-gen-nav {
    position: fixed;
    width: 5%;
    margin-top: 1.25%;
    margin-left: 1.25%;
    list-style-type: none;
    color: black;
    flex-wrap: wrap;
}

ul.wd-gen-nav .list-group-item {
    padding-left: 4px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px #17193b;
    color: black;
    background-color: rgba(244, 244, 245, .6);
}

ul.wd-gen-nav .list-group-item:hover {
    text-decoration: underline;
}

ul.wd-gen-nav .list-group-item:active,
ul.wd-gen-nav .wd-active {
    box-shadow: -1px -1px 92px 21px rgba(0, 0, 0, 0.15) inset;
    -webkit-box-shadow: -1px -1px 92px 21px rgba(0, 0, 0, 0.15) inset;
    -moz-box-shadow: -1px -1px 92px 21px rgba(0, 0, 0, 0.15) inset;
}

.wd-inset-shadow-center {
    box-shadow: -1px -1px 92px 21px rgba(0, 0, 0, 0.15) inset;
    -webkit-box-shadow: -1px -1px 92px 21px rgba(0, 0, 0, 0.15) inset;
    -moz-box-shadow: -1px -1px 92px 21px rgba(0, 0, 0, 0.15) inset;
}

#page-nav{
    border: 1px;
}