.wd-card {
    box-shadow: 1px 5px 34px 8px rgba(133, 133, 133, 0.75);
    -webkit-box-shadow: 1px 5px 34px 8px rgba(133, 133, 133, 0.75);
    -moz-box-shadow: 1px 5px 34px 8px rgba(133, 133, 133, 0.75);
    border-radius: 4px;
    background-color: #373e69;
}

.my-10rem {
    margin-top: 10rem;
    margin-bottom: 10rem;
}

.my-20rem {
    margin-top: 20rem;
    margin-bottom: 20rem;
}

.card {
    min-height: 440px !important;
    border: none !important; 
}

.card-body{
    color: rgb(180, 180, 180) !important;
}